HVE_ADDRESS=hve-relay@example.com
EXTERNAL_RELAY_ADDRESS=relay@example.com
ARCHIVE_ADDRESS=relay-archive@example.com
ACCEPTED_DOMAINS_FILE=/etc/postfix-entra-relay/accepted-domains.txt
MYNETWORKS_FILE=/etc/postfix/mynetworks.postfix-entra
