
# Postfix Entra Relay - internal HVE transport
hvepipe  unix  -       n       n       -       -       pipe
  flags=Rq user=postfix-entra-hve argv=/usr/local/sbin/postfix-entra-hve-submit
  --recipient=${recipient} --queue-id=${queue_id} --original-sender=${sender}
